 .thumbnail img{
     width: 100%;
 }
 .thumbnail{
     padding: 0;
 }
 .thumbnail .caption-full{
     padding: 9px;
 }
 #editform{
     display: inline;
 }
 .fullscreen{
    position:absolute;
    top: 0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;

}
#landingimage{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left:0;
    bottom:0;
    right:0;
}
